<body >
    <footer className="border-top mt-3">
        <div class="f-info">
            <div class="f-info-socials">
                <h3>© 2025 NCC Management System | All Rights Reserved. </h3>
                <h5>ANO Sub Lt.Dr. Shivaji M. Sonawane | Contact: 9970592573</h5>
                <h6>
                    Developed by <i>Pravin Junne</i> with ❤️ | 
                    <a href="https://x.com/pravin_junne">
                        <i class="fa-brands fa-twitter-square x"></i>
                    </a>
                    <a href="https://www.instagram.com/junne_pravin_/?next=%2F">
                        <i class="fa-brands fa-square-instagram"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/pravin-junne-24839a271/">
                        <i class="fa-brands fa-linkedin"></i> 
                    </a>
                </h6>
                <div class="f-info-links">
                    <a href="/terms">Terms & Conditions</a>
                </div>
            </div>
        </div>
    </footer>
</body>
